name: CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python + uv + deps
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}
          uv-version: "0.5.8"

      - name: Run tests
        run: |
            uv run python -m pytest tests \
            --junitxml=junit.xml \
            --cov --cov-branch --cov-config=pyproject.toml --cov-report=xml

      - name: Upload coverage xml
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: coverage-xml-${{ matrix.python-version }}
            path: coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
            files: coverage.xml
            fail_ci_if_error: true
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    #   - name: Publish test report
    #     if: always()
    #     uses: mikepenz/action-junit-report@v4
    #     with:
    #         report_paths: junit.xml
    